<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
<body>
<h1> Generic Web Query Engine</h1>
<ol>
    <li><a href="/console">Console - testing and developing queries</a></li>
    <li><a href="/movies">Movies/TV Show Search - You can search for movies and tv show from imdb search api</a></li>
    <li><a href="/stocks">Stock - Sample use case this uses this project to get stock prices</a></li>
    <li><a href="/price">Price - Sample use case this uses this project to get prices of all the items in a website</a></li>
</ol>
</body>
</html>