<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price</title>
</head>
<body>
<script>
    async function getData() {
        let url = "http://"+location.host+"/api?api=SELECT+%22%2Fhtml%2Fbody%2Fdiv%5B6%5D%2Fmain%2Fdiv%5B1%5D%2Fsection%2Fdiv%5B1%5D%2Fdiv%5B2%5D%2Fdiv%2Fdiv%2Fdiv%2Fh1%22%2C+%0A%22%2Fhtml%2Fbody%2Fdiv%5B6%5D%2Fmain%2Fdiv%5B1%5D%2Fsection%2Fdiv%5B1%5D%2Fdiv%5B2%5D%2Fdiv%2Fdiv%2Fdiv%2Fdiv%5B1%5D%2Fspan%2Fspan%22+%0AFROM+++html+%0AWHERE++url+IN+(SELECT+%0A%22%2F%2F*%5B%40id%3D%27shopify-section-collection-template%27%5D%2Fsection%2Fdiv%5B2%5D%2Fdiv%2Fdiv%2Fdiv%2Fdiv%2Fdiv%2Fdiv%2Fdiv%2Fa%5B1%5D%2F%40href%22+%0A+FROM+++html+%0A+WHERE++url+IN+(+%22https%3A%2F%2Fwww.lttstore.com%2Fcollections%2Fall%3Fpage%3D1%22%2C+%0A+++++++++++++++++%22https%3A%2F%2Fwww.lttstore.com%2Fcollections%2Fall%3Fpage%3D2%22+)+%0A++++++++AND+selector+%3D+xpath)+%0AAND+selector+%3D+xpath+"
        let response = await fetch(url)
        let data = await response.json()
        names = data[0].map(x => x["text"])
        prices = data[1].map(x => x["text"])
        data = names.map(function (x, i) {
            return {"name": x, "price": prices[i]}
        })
        let table = document.querySelector("table");
        let headdata = Object.keys(data[0]);
        generateTableHead(table, headdata);
        generateTable(table, data);
        loading()

    }

    function generateTableHead(table, data) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        for (let key of data) {
            let th = document.createElement("th");
            let text = document.createTextNode(key);
            th.appendChild(text);
            row.appendChild(th);
        }
    }

    function generateTable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
            }
        }
    }
    function loading() {
			var x = document.getElementById("loading");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}

    getData()
</script>
<p id="loading">Loading....</p>
<table>
    <!-- here goes our data! -->
</table>
</body>
</html>